:root {
  --secondaryColor: #7d7f84;
}

/*---------------------------

        RESET   

------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------------

        GENERAL

------------------------------*/
section.container > div,
footer.container > div,
main.container > div > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
body {
  height: 100vh;
  background-color: #141922;
}
body > div {
  display: flex;
}

ul {
  list-style: none;
}

/*---------------------------

  button

------------------------------*/
button {
  background-color: transparent;
}
.btn-primary {
  color: white;
  border-radius: 100px;
  border: solid 1px;
  font-size: 0.7rem;
  padding: 0.5rem 1.9rem;
  margin: 1.7rem;
}
.minutage {
  cursor: pointer;
  background: #5a5a5a;
  height: 0.5rem;
  border-radius: 90px;
  accent-color: #c1c1c1;
  border-width: 0;
}

.minutage::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  background: #c1c1c1;
  cursor: pointer;
  border-width: 0;
  border-radius: 100%;
}

/*---------------------------

    HEADER

------------------------------*/

header {
  background-color: #000;
  width: 3.125em;
  flex-shrink: 0;
  padding: 0.5rem 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  color: white;
}
.logo {
  padding-bottom: 1rem;
}

.logo img:last-of-type {
  display: none;
}
header span {
  display: none;
}
.top {
  padding-bottom: 1rem;
}
.playlist {
  display: none;
  text-align: left;
}
.playlist div {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.playlist i {
  color: black;
  background-color: #a3a3a3;
  font-size: 2.4rem;
  margin-right: 0.7rem;
}
.playlist h3 {
  padding-bottom: 0.8rem;
  font-weight: bolder;
}
.playlist li {
  margin-top: 0.6rem;
  font-size: 0.875rem;
}

.download {
  width: 50%;
}
hr {
  display: none;
}
/*---------------------------

  Main

------------------------------*/

main {
  width: calc(100% - 3.125rem);
  background-color: #141922;
  height: 90vh;
  overflow-y: auto;
}
main > section:first-of-type {
  background-color: #080b12;
  display: flex;
  justify-content: end;
}

/* categories */

.categories ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5375rem;
  color: var(--secondaryColor);
  font-size: 0.775rem;
  padding-top: 0.9rem;
  text-align: center;
  margin: 0 0.5rem;
}
.categories li {
  float: left;
  width: calc(100% / 4 - 0.5375rem);
  margin-bottom: 1.5rem;
}
h2 {
  color: white;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
/* selction */


/*---------------------------

Footer

------------------------------*/

footer {
  height: 5rem;
  background-color: #282828;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
}
footer img {
  width: 100%;
  display: block;
}

/* info section */

.info {
  width: 30%;
  max-height: 100%;
  display: flex;
  padding: 0.9375rem 0.5rem;
  gap: 0.6375rem;
  color: #878787;
  font-size: 0.775rem;
  align-items: center;
}
.info h5 {
  color: white;
  font-size: 0.9rem;
}

.info > div:first-of-type {
  max-width: 35%;
}
.info > div:first-of-type img {
  max-width: calc(6.35rem - 2.3rem);
}
.info > div:last-of-type i {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.info > div:last-of-type {
  max-width: 25%;
}
.info > div:nth-of-type(2) {
  flex-grow: 1;
}

/* command section */
.command {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  justify-content: center;
}
.command > div:first-of-type {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.command > div:last-of-type {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
}
.command i {
  padding: 0 0.5rem;
  color: white;
}
.command > div > div:nth-of-type(2) i {
  font-size: 1.4rem;
}
.command .minutage {
  max-width: 50%;
}
/* volume section */
.volume {
  padding: 0 0.5rem;
  width: 30%;
  display: flex;
  gap: 5%;
  color: white;
  align-items: center;
}
.volume > div:first-of-type {
  width: 35%;
  font-size: 0.6rem;
}
.volume > div:last-of-type {
  width: 60%;
}
.volume .minutage {
  width: 100%;
}
/*---------------------------

  responsive

------------------------------*/
@media screen and (min-width: 36rem) {
  header {
    width: 12.5rem;
  }
  .logo {
    padding-bottom: 2.5rem;
  }
  .logo img:last-of-type {
    display: block;
  }
  .logo img:first-of-type {
    display: none;
  }
  header span {
    display: inline;
  }
  header li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  header li img {
    max-width: 20%;
  }

  .bottom img {
    position: relative;
    left: -2px;
    max-width: 10%;
  }
  .bottom > div {
    align-items: center;
    display: flex;
    gap: 1rem;
    position: relative;
  }
  hr {
    display: block;
    border: solid 1px white;
    width: 100%;
    margin: 0.5rem 0;
  }
  .playlist {
    display: block;
  }

  /* footer */

  footer p {
    display: inline;
  }

  .volume {
    justify-content: space-between;
  }

  .volume > div:first-of-type {
    max-width: 40%;
    font-size: 0.8rem;
    gap: 0.7rem;
    display: flex;
  }
}

@media screen and (min-width: 48rem) {
  /* foooter */
  .info > div:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .info h5 {
    font-size: 1rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .command {
    gap: 0.7rem;
    font-size: 1rem;
  }
  .command > div:last-of-type {
    gap: 0.5rem;
    width: 100%;
  }
  .command .minutage {
    width: 110%;
  }
  .volume > div:first-of-type {
    width: 40%;
    font-size: 0.9rem;
    gap: 0.9rem;
    display: flex;
  }
}
@media screen and (min-width: 64rem) {
  .info > div:first-of-type img {
    max-width: calc(6.35rem - 2.3rem);
  }
  .command {
    font-size: 1.2rem;
  }
  .command > div:first-of-type {
    position: relative;
    top: -0.5rem;
    gap: 0.9rem;
  }
  .command > div > div:nth-of-type(2) i {
    font-size: 2rem;
  }
}

/*---------------------------

    Debug

------------------------------*/
