:root {
  --primaryColor: white;
  --secondaryColor: #7d7f84;
  --hoverColor: #e5e5e6;
  --spotifyColor: #1db954;
  --paddingHeader: 0.625rem;
}

/*---------------------------


  RESET


------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*----------------
    LAYOUT
------------------*/

/*---------------------------


      TYPOGRAPHY


------------------------------*/

@font-face {
  font-family: "SpotifyMix";
  src: url("../font/SpotifyMix-Medium.eot");
  src: url("path/to/SpotifyMix-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/SpotifyMix-Medium.woff2") format("woff2"),
    url("../font/SpotifyMix-Medium.woff") format("woff"),
    url("../font/SpotifyMix-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpotifyMix", "Nunito", sans-serif;
}

/*---------------------------


      GERNERAL


------------------------------*/

body {
  height: 100vh;
  background-color: #141922;
}
body > div {
  display: flex;
  height: calc(100% - 5rem);
}

ul {
  list-style: none;
}

/*---------------------------


      INPUT


------------------------------*/

/* for some reason using secondaryColor seems to remove inputs' borders */
.minutage {
  cursor: pointer;
  height: 0.5rem;
  border-radius: 90px;
  accent-color: var(--secondaryColor);
  border-width: 0;
  outline: none;
  border: none;
}

.minutage:hover {
  accent-color: var(--spotifyColor);
}
/* should work only chrome,safari, ecc...*/
.minutage::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  background: #c1c1c1;
  cursor: pointer;
  border-width: 0;
  border-radius: 100%;
  opacity: 0;
}
.minutage:hover::-webkit-slider-thumb {
opacity: 1;
}



::-webkit-scrollbar {
  width: 3px;
}
/* track */
::-webkit-scrollbar-track {
  display: none;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--secondaryColor);
  border-radius: 6.35rem;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hoverColor);
}

/*---------------------------


           BUTTON


------------------------------*/

button {
  background-color: transparent;
}
.btn-primary {
  color: var(--primaryColor);
  border-radius: 6.25rem;
  border: solid 1px;
  font-size: 0.7rem;
  padding: 0.5rem 1.9rem;
  margin: 1.7rem;
}
.btn-primary:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

/*---------------------------


           HEADER


------------------------------*/

header {
  background-color: #000;
  width: 3.125em;
  flex-shrink: 0;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  color: var(--secondaryColor);
  overflow-y: auto;
}
/*---------------------------
logo section
------------------------------*/
.logo {
  margin-bottom: 0.4rem;
  position: relative;
  padding: 0 var(--paddingHeader);
}

.logo img:last-of-type {
  display: none;
}
header span {
  display: none;
}

.top {
  padding-bottom: 1rem;
}
.top ul {
  margin-bottom: 3rem;
}
.top ul > li:first-of-type {
  border: none;
}
.top li {
  padding: 0 var(--paddingHeader);
}
/*---------------------------
playlist section
------------------------------*/
.playlist {
  display: none;
  text-align: left;
  max-height: 15rem;
  min-height: 7rem;
  margin-bottom: 5rem;
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 var(--paddingHeader);
}
.playlist div {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.playlist ul {
  max-height: 15rem;
}
.playlist i {
  color: black;
  background-color: #a3a3a3;
  font-size: 2.4rem;
  margin-right: 0.7rem;
}
header h3 {
  display: none;
  text-align: left;
  padding-bottom: 0.8rem;
  font-weight: bolder;
  color: var(--primaryColor);
  padding: 0 var(--paddingHeader);
  margin-bottom: 0.3rem;
}
.playlist li {
  margin-top: 0.6rem;
  font-size: 0.875rem;
}
/*---------------------------
bottom section
------------------------------*/
.bottom {
  max-height: 15%;
  z-index: 1;
  padding: 0.3rem var(--paddingHeader);
}

.bottom > div:first-of-type:hover {
  color: var(--hoverColor);
  cursor: pointer;
}
/*  dimension in rem to make sure that the image remains a square */
.bottom > div:last-of-type img {
  max-height: 1.875rem;
  max-width: 1.875rem;
  border-radius: 50%;
  background-color: #808080;
}
.download {
  width: 50%;
  margin-bottom: 0.4rem;
}
hr {
  display: none;
}

header li:hover {
  cursor: pointer;
  color: var(--hoverColor);
}
.playlist div:hover {
  cursor: pointer;
  color: var(--hoverColor);
}

/*---------------------------


MAIN


------------------------------*/

main {
  width: calc(100% - 3.125rem);
  background-color: #141922;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
main > section:first-of-type {
  background-color: #080b12;
  display: flex;
  justify-content: end;
  height: 5.625rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

/*---------------------------
categories section
------------------------------*/

main p {
  margin-left: 1rem;
  color: var(--secondaryColor);
}
.categories ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3375rem;
  color: var(--secondaryColor);
  font-size: 0.775rem;
  padding-top: 0.9rem;
  text-align: center;
  margin: 0 0.5rem;
}
.categories li {
  float: left;
  width: calc(100% / 4 - 0.3375rem);
  margin-bottom: 1.5rem;
}
.categories li:hover {
  color: var(--primaryColor);
  cursor: pointer;
}
.categories li:first-of-type {
  position: relative;
  z-index: 1;
}
/* the height must be forced to stop it from  mispositiong the underbar on smaller screens  */
/* the height is the space occupied by the font-style with this font-size */
#underlined {
  max-height: 1.0625rem;
}
.categories li:first-of-type::after {
  content: "";
  position: absolute;
  left: 30%;
  bottom: -0.1875rem;
  width: 40%;
  border-bottom: 0.125rem solid var(--spotifyColor);
}
h2 {
  color: var(--primaryColor);
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

/*---------------------------
selection section
------------------------------*/

.selection > h2 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.row {
  display: flex;
  gap: 0.35rem;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: left;
}
.card {
  width: calc(50% - 0.35rem);
  text-align: center;
  color: var(--secondaryColor);
  font-size: 0.875rem;
  position: relative;
  z-index: 0;
}
.card h3 {
  text-align: center;
  padding-bottom: 0.8rem;
  font-weight: bolder;
  color: var(--primaryColor);
}
.card p {
  margin: none;
}
.card img {
  max-width: 100%;
  padding-bottom: 0.3125rem;
}
.card > div {
  position: relative;
}

.selection .row:last-of-type img {
  border-radius: 100%;
}
.card > div:hover img {
  opacity: 0.3;
  transition: 0.4s ease;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  color: var(--primaryColor);
  font-size: 4rem;
}
.card > div:hover .overlay {
  opacity: 1;
  transition: 0.4s ease;
  cursor: pointer;
}

/*---------------------------


  FOOTER


------------------------------*/

footer {
  height: 5rem;
  background-color: #282828;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;
  bottom: 0;
}
footer img {
  width: 100%;
  display: block;
}
/*---------------------------
info section
------------------------------*/
.info {
  width: 25%;
  max-height: 100%;
  display: flex;
  padding: 0.9375rem 0.5rem;
  gap: 0.5375rem;
  color: #878787;
  font-size: 0.675rem;
  align-items: center;
}
.info h5 {
  color: white;
  font-size: 0.8rem;
}

.info > div:first-of-type {
  max-width: 35%;
}
.info > div:first-of-type img {
  max-width: calc(6.35rem - 2.3rem);
}
.info > div:last-of-type i {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.info > div:last-of-type {
  max-width: 15%;
}

.info p:hover {
  text-decoration: underline;
  color: var(--hoverColor);
  cursor: pointer;
}
.info i:hover {
  color: var(--hoverColor);
  cursor: pointer;
}
.info > div:nth-of-type(2) {
  max-width: 50%;
}
/*---------------------------
Command section
------------------------------*/
.command {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  justify-content: center;
}
.command > div:first-of-type {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  top: -0.5rem;
}
.command > div:last-of-type {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.command i {
  padding: 0 0.5rem;
  color: white;
}
.command button {
  cursor: pointer;
}
.command > div > div:nth-of-type(2) i {
  font-size: 1.4rem;
}
.command > div > div:nth-of-type(2) i:hover {
  transform: scale(1.2, 1.2);
}
.command .minutage {
  max-width: 50%;
}
/*---------------------------
volume section
------------------------------*/
.volume {
  padding: 0 0.5rem;
  width: 25%;
  display: flex;
  gap: 5%;
  color: var(--primaryColor);
  align-items: center;
}

.volume i {
  opacity: 0.7;
  cursor: pointer;
}
.volume i:hover {
  opacity: 1;
  cursor: pointer;
}
.volume > div:first-of-type {
  width: 50%;
  font-size: 0.6rem;
}
.volume > div:last-of-type {
  width: 50%;
}
.volume .minutage {
  width: 100%;
}

/*---------------------------


RESPONSIVE


------------------------------*/
@media screen and (max-width: 25.25rem) {
  /* neccessary rule to avoid bar misplacement under 404 px */
  .categories li:first-of-type::after {
    position: absolute;
    bottom: -1.2rem;
  }
}
@media screen and (min-width: 36rem) {
  /*---------------------------
  header
  ------------------------------*/
  header {
    width: 12.5rem;
  }
  /*---------------------------
  logo section  
  ------------------------------*/
  .logo {
    padding-bottom: 2.5rem;
  }
  .logo img:last-of-type {
    display: block;
  }
  .logo img:first-of-type {
    display: none;
  }
  .top ul > li:first-of-type {
    color: var(--hoverColor);
    border-left: solid var(--spotifyColor);
  }
  /*---------------------------
  playlist section
  ------------------------------*/
  .playlist {
    display: block;
  }
  header span {
    display: inline;
  }
  header li {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 1rem;
  }
  header li img {
    max-width: 20%;
  }
  header h3 {
    display: block;
    margin-top: 0.7375rem;
  }
  /*---------------------------
  bottom
  ------------------------------*/
  .bottom img {
    position: relative;
    left: -2px;
    max-width: 10%;
  }
  .bottom > div {
    align-items: center;
    display: flex;
    gap: 1rem;
    position: relative;
  }
  /* fixed dim to keep the img a square */
  .bottom > div:last-of-type img {
    width: 1.125rem;
    height: 1.125rem;
  }
  .bottom > div:last-of-type {
    color: var(--primaryColor);
  }
  hr {
    display: block;
    border: solid 1px;
    transform: scaleY(0.5);
    width: 100%;
    margin: 0.5rem 0;
  }
  /*---------------------------
  categories section
  ------------------------------*/
  .categories li {
    width: calc(100% / 3 - 0.5375rem);
  }
  /*---------------------------
  footer
  ------------------------------*/
  footer p {
    display: inline;
  }
  /*---------------------------
  volume
  ------------------------------*/
  .volume {
    justify-content: flex-end;
  }

  .volume > div:first-of-type {
    max-width: 50%;
    font-size: 0.8rem;
    gap: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 48rem) {
  /*---------------------------
  categories section
  ------------------------------*/
  .categories ul {
    gap: 2rem;
  }

  .categories li {
    width: calc(100% / 5 - 0.5375rem);
  }

  /*---------------------------
  selection section
  ------------------------------*/
  .card {
    width: calc(25% - 00.625rem);
    font-size: 0.875rem;
  }

  /*---------------------------
  info section
  ------------------------------*/
  .info > div:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .info h5 {
    font-size: 1rem;
  }
  .info {
    font-size: 0.8rem;
    width: 35%;
  }
  /*---------------------------
  command section
  ------------------------------*/
  .command {
    gap: 0.7rem;
    font-size: 1rem;
    max-width: 40%;
  }
  .command > div:first-of-type {
    top: 0rem;
  }
  .command > div:last-of-type {
    gap: 0.5rem;
    width: 100%;
  }
  .command .minutage {
    width: 110%;
  }
  /*---------------------------
  volume section
  ------------------------------*/
  .volume > div:first-of-type {
    width: 40%;
    font-size: 0.9rem;
    gap: 0.9rem;
    display: flex;
  }
}
@media screen and (min-width: 64rem) {
  /*---------------------------
  selection section
  ------------------------------*/
  .row:first-of-type {
    justify-content: space-between;
  }
  .row:not(:first-of-type) {
    gap: 0.7rem;
  }
  .card {
    width: calc(100% / 6 - 00.625rem);
    font-size: 0.875rem;
  }

  /*---------------------------
  catergories section
  ------------------------------*/
  .categories li {
    width: auto;
  }
  /*---------------------------
  info section
  ------------------------------*/
  .info {
    width: 25%;
  }
  .info > div:first-of-type img {
    max-width: calc(6.35rem - 2.3rem);
  }

  /*---------------------------
  command section
  ------------------------------*/
  .command > div:first-of-type {
    position: relative;
    top: 0.4rem;
    gap: 0.9rem;
  }
  .command > div > div:nth-of-type(2) i {
    font-size: 2rem;
  }
}